/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }


@font-face {
    font-family: 'poiret';
    src: url('../font/poiretone-regular-webfont.woff2') format('woff2'),
         url('../font/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin';
    src: url('../font/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../font/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'poiret';
}

.mini-text {
	font-size: 11px
}

.bold {
	font-weight: bold;
}


.icon-block {
  	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo {
	height: 100%;
}



.contact-footer {
	width: 100%;
	height: 2rem;
}

.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image-side {
	max-width:100%;
	max-height:100%;
	vertical-align: middle;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#body, .footer-text {
	text-align: justify;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

html {

	font-family: 'josefin';
}

.gris {
	background-color: #e3e3e3;
}

.gris-text {
	color: #e3e3e3;
}

/*white-text {
	color: #ffffff;
}*/

.logo {
	height: 2rem;
	width: 2rem;
	vertical-align: middle;
}

.logo-materialize {
	vertical-align: middle;
}

.contact-holder {
	margin-bottom: 10px;
	padding-left: 10px;
}

.marge {
	margin-left: 3em;
}

.marron {
	background-color: #8c7b6a;
}

.marron-text {
	color: #8c7b6a;
}

.marron-clair {
	background-color: #c9a27f;
}

.marron-clair-text {
	color: #c9a27f;
}

.rose {
	background-color: #f7cebb;
}

.rose-text {
	color: #f7cebb;
}

.vert {
	background-color: #8fc043;
}

.vert-text {
	color: #8fc043;
}

.img-massage {
	width: 100%;
}


.carousel {
	height: 300px;
}

.logo-footer {
	height: 6em;
}

tr {
  border-bottom: 1px solid #8fc043 !important;
}

.margin-top {
	margin-top: 3em;
}

.btn-rdv {
	background-color: #f7cebb;
	color: #8d7b6a;
	font-weight: 1000;
	font-size: 1.3rem;

	padding: 0.5rem;
	padding-top : 0.7rem;
	padding-left: 2rem;
	padding-right: 2rem;

	border-radius: 99999px;
}

.border {
	border: 1px black solid;
	padding: 0.8rem;
}

.pb5 {
	padding-bottom: 5rem;
}